n8n-workflow.json
{
  "name": "Employee Activity Monitor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "monitoring",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "monitoring-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Parse the incoming webhook data\nconst data = $input.first().json;\n\n// Extract relevant information\nconst activity = {\n  timestamp: data.timestamp,\n  type: data.type || data.eventType,\n  description: data.description,\n  severity: data.severity,\n  computer: data.computer,\n  user: data.user,\n  details: data.details || {},\n  deviceInfo: data.deviceInfo || {},\n  uninstallDetails: data.uninstallDetails || {}\n};\n\n// Determine email subject based on severity\nlet subject = `[${activity.severity.toUpperCase()}] `;\n\nswitch(activity.type) {\n  case 'UsbDrive':\n    subject += 'USB Drive Activity Detected';\n    break;\n  case 'UsbBlocked':\n    subject += 'USB DEVICE BLOCKED';\n    break;\n  case 'UninstallDetected':\n    subject += 'SOFTWARE UNINSTALLATION DETECTED';\n    break;\n  case 'FileTransfer':\n    subject += 'File Transfer Activity Detected';\n    break;\n  case 'AppInstallation':\n    subject += 'Application Installation Detected';\n    break;\n  case 'BlacklistedApp':\n    subject += 'BLACKLISTED APPLICATION DETECTED';\n    break;\n  case 'NetworkActivity':\n    subject += 'Suspicious Network Activity Detected';\n    break;\n  default:\n    subject += 'System Activity Detected';\n}\n\n// Create email body\nlet body = `Employee Activity Alert\\n\\n`;\nbody += `Time: ${activity.timestamp}\\n`;\nbody += `Computer: ${activity.computer}\\n`;\nbody += `User: ${activity.user}\\n`;\nbody += `Activity Type: ${activity.type}\\n`;\nbody += `Severity: ${activity.severity}\\n`;\nbody += `Description: ${activity.description || 'No description provided'}\\n\\n`;\n\n// Add device information for uninstall events\nif (activity.type === 'UninstallDetected' && activity.deviceInfo) {\n  body += '🔍 DEVICE INFORMATION 🔍\\n';\n  body += `Serial Number: ${activity.deviceInfo.serialNumber || 'Unknown'}\\n`;\n  body += `Primary MAC Address: ${activity.deviceInfo.primaryMacAddress || 'Unknown'}\\n`;\n  body += `BIOS Serial Number: ${activity.deviceInfo.biosSerialNumber || 'Unknown'}\\n`;\n  body += `Motherboard Serial Number: ${activity.deviceInfo.motherboardSerialNumber || 'Unknown'}\\n`;\n  body += `Windows Product ID: ${activity.deviceInfo.windowsProductId || 'Unknown'}\\n`;\n  body += `Installation Path: ${activity.deviceInfo.installationPath || 'Unknown'}\\n`;\n  body += `Device Fingerprint: ${activity.deviceInfo.deviceFingerprint || 'Unknown'}\\n\\n`;\n  \n  if (activity.deviceInfo.allMacAddresses && activity.deviceInfo.allMacAddresses.length > 0) {\n    body += 'All MAC Addresses:\\n';\n    activity.deviceInfo.allMacAddresses.forEach((mac, index) => {\n      body += `  ${index + 1}. ${mac}\\n`;\n    });\n    body += '\\n';\n  }\n}\n\n// Add uninstall details\nif (activity.type === 'UninstallDetected' && activity.uninstallDetails) {\n  body += '🗑️ UNINSTALL DETAILS 🗑️\\n';\n  body += `Process ID: ${activity.uninstallDetails.processId || 'Unknown'}\\n`;\n  body += `Process Name: ${activity.uninstallDetails.processName || 'Unknown'}\\n`;\n  body += `Command Line: ${activity.uninstallDetails.commandLine || 'Unknown'}\\n`;\n  body += `Uninstall Time: ${activity.uninstallDetails.uninstallTime || 'Unknown'}\\n\\n`;\n}\n\n// Add details if available\nif (Object.keys(activity.details).length > 0) {\n  body += 'Details:\\n';\n  for (const [key, value] of Object.entries(activity.details)) {\n    body += `  ${key}: ${value}\\n`;\n  }\n  body += '\\n';\n}\n\n// Special handling for different event types\nif (activity.type === 'UsbBlocked') {\n  body += '⚠️ SECURITY ALERT ⚠️\\n';\n  body += 'An unauthorized USB device was blocked from connecting to the computer.\\n';\n  body += 'This device was not found in the approved whitelist.\\n\\n';\n  body += 'Immediate action may be required to investigate this security incident.\\n';\n}\n\nif (activity.type === 'UninstallDetected') {\n  body += '🚨 CRITICAL SECURITY ALERT 🚨\\n';\n  body += 'The Employee Activity Monitor software has been uninstalled from this computer.\\n';\n  body += 'This may indicate unauthorized removal of security monitoring software.\\n\\n';\n  body += 'IMMEDIATE ACTION REQUIRED:\\n';\n  body += '1. Verify if this uninstallation was authorized\\n';\n  body += '2. Investigate who performed the uninstallation\\n';\n  body += '3. Reinstall the monitoring software if unauthorized\\n';\n  body += '4. Review security logs for suspicious activity\\n\\n';\n  body += 'Device identification information has been captured for investigation.\\n';\n}\n\nreturn {\n  subject: subject,\n  body: body,\n  severity: activity.severity,\n  type: activity.type,\n  computer: activity.computer,\n  user: activity.user,\n  deviceInfo: activity.deviceInfo,\n  uninstallDetails: activity.uninstallDetails\n};"
      },
      "id": "process-data",
      "name": "Process Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "severity-high",
              "leftValue": "={{ $json.severity }}",
              "rightValue": "High",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "severity-critical",
              "leftValue": "={{ $json.severity }}",
              "rightValue": "Critical",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "usb-blocked",
              "leftValue": "={{ $json.type }}",
              "rightValue": "UsbBlocked",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "uninstall-detected",
              "leftValue": "={{ $json.type }}",
              "rightValue": "UninstallDetected",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "check-severity",
      "name": "Check Severity",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "fromEmail": "security@yourcompany.com",
        "toEmail": "admin@yourcompany.com",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.body }}",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "fromEmail": "security@yourcompany.com",
        "toEmail": "admin@yourcompany.com",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.body }}",
        "options": {}
      },
      "id": "send-urgent-email",
      "name": "Send Urgent Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"Activity processed successfully\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "response",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Process Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Data": {
      "main": [
        [
          {
            "node": "Check Severity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Severity": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Urgent Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Urgent Email": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1"
} 